body {
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 28pt;
    margin-top: 50px;
}

a {
    font-size: 16pt;
}

a:link, a:visited {
    color: tomato;
}

a:hover {
    color: rgb(223, 152, 139);
}

table {
    padding: 10px;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
